@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:wght@300;400;600&display=swap);


*
{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    box-sizing: border-box;
}

section 
{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.logo
{
    display: flex;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    display: flex;
    top: 1rem;
    left: 9rem;
    height: 6rem;
    background: rgba(0,0,0,0);
    width: 0px
}

.logo img 
{
    padding: 2rem;
}

.textBox
{
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: cover;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 0 auto;
}

.textBox::after 
{    
    content: "";
    background: url(../images/bg-pattern-desktop.svg) no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0 ;
    position: absolute;
    z-index: 100;
} 

.textBox div 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    top: 4rem;
}

.textBox h1 
{ 
    font-size: 5rem;
    text-transform: uppercase;
    width: 50%;
    font-weight: 700;
    letter-spacing: 16px;
    margin: 0 auto;
    position: relative;
    left: -3rem;
    top: -3rem;
    z-index: 1000;
    color: hsl(0, 6%, 24%);
}

.textBox h1 span 
{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.textBox p 
{
    font-size: 0.9rem;
    width: 48%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    line-height: 1.5rem;
    left: -3rem;
    top: -2rem;    
    z-index: 1000;
    color: hsl(0, 36%, 70%);
    line-height: 25px;
}

.textBox form 
{
    margin: 0 auto;
    width: 59%;
    position: relative;
    top: 0rem;
    left: -1rem;
    color: #fff;
    z-index: 1000;
    display: flex;
}

.textBox form #email 
{
    border-radius: 30px;
    padding: 1rem 2rem;
    border: 1px solid hsl(0, 36%, 70%); 
    width: 100%;
    margin: 0 auto;
    position: relative;   
    background: rgba(0,0,0,0);
}

.textBox form #email:focus 
{
    outline: none;
}

.textBox form #icon-error 
{
    z-index: 1000;
    padding: 1rem;
    position: relative;
    left: -6.5rem;
    visibility: hidden;
}

.textBox form #submit 
{
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 30px;
    padding: 1rem 2.5rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Josefin Sans';
    position: relative;
    top:0rem;
    left: -7rem;
    margin: 0 auto;
    box-shadow: 0 10px 20px  hsl(0, 80%, 86%);
    transition: 0.5s;
}

.textBox form #submit:hover 
{
    background: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 44%, 82%));
    padding: 15px 20px 15px 40px;
}

.textBox form #error
{
    position: absolute;
    display: flex;
    top: 6rem;
    left: 0rem;
    margin: 0 auto;
    justify-content: center;
    color: hsl(0, 93%, 68%);
}

.imgBox 
{
    background: #222;
    width: 40%;
    height: 100%; 
    display: flex;
    margin: 0 auto;
}

.imgBox img 
{ 
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
    visibility: visible;
}  

@media (max-width: 991px) 
{
    section 
    {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .logo 
    {
        position: absolute;
        left: 0rem;
        top: 0rem; 
    }

    .textBox 
    {
        text-align: center;
        width: 100%;
    } 

    .textBox div h1 
    {
        width: 99%;
        top: 0rem;
        left: 0;
        font-size: 3rem;
        padding: 1rem 0;
    }

    .textBox div p 
    {
        width: 85%;
        top: 0rem;
        left: 0;

    }

    .textBox div form 
    {
        top: 0rem;
        left: 2rem;
        width: 90%;
        padding: 1rem 0;
    }

    .imgBox
    {
        width: 100%;
        height: 30vh;
        background: url(../images/hero-mobile.jpg) no-repeat top left;
        background-size: cover;
    }

    .imgBox img 
    {
        visibility: hidden;
    }
}

@media (max-width:991px) and ( max-height: 690px)
{
    section 
    {
        margin: 2rem auto;
    }

    .logo 
    {
        top: -3rem;
    }
}

@media (max-width: 300px)
{
    .textBox div h1 
    {
        font-size: 2rem;
    }
}